@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300&subset=latin,latin-ext);

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

// WW

.ww-container {
  height: calc(100vh - 64px);
}

ww-sidebar {
  position: relative;
  background: #fafafa;

  .ww-sidebar-info {
    padding: 25px 10px;
    color: #757575;
    opacity: .5;
    text-align: center;

    .material-icons {
      font-size: 50px;
    }
  }

  .ww-cards {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 128px);
    background: #fafafa;
  }

  .ww-cards-loading {
    position: absolute;
    width: 100%;
    height: calc(100vh - 128px);
    background: rgba(255,255,255,.8);
    z-index: 5;
  }

  .ww-sidebar-options {
    width: 100%;
    padding: 0;

    md-list-item {
      border-top: 1px solid rgba(0,0,0,0.12);
    }
  }
}

ww-map {
  .ww-map-switcher {
    position: absolute;
    z-index: 10;
    right: 0;

    .md-button {
      width: 70px;
      height: 70px;
      font-size: 12px;
      padding: 0;
      min-width: 70px;
      margin-left: 0;
      margin-top: 10px;
      margin-right: 10px;

      .material-icons {
        display: block;
        margin-top: 10px;
      }
    }
  }

  .leaflet-top, .leaflet-bottom {
    z-index: 10;
  }
}

.ww-card-container {
  width: 100%;

  .ww-card {
    margin: 8px 16px;

    md-card-title {
      padding: 16px;

      md-card-title-media {
          margin: 0;
      }
    }

    .card-media {
      background: #ccc;
    }

    .card-photo {
      width: auto;
      height: auto;
      max-width: 80px;
      max-height: 80px;
    }
  }

  &.ww-card-active .ww-card {
    background: #f0f0f0;
  }
}

.ww-details {
  .ww-details-photo {
    background: #ccc;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }
}
